In [41]:
import pandas as pd

df = pd.read_csv("Projects/PythonProjects/Try 1/car_sales - original.csv")
print(df["Make"])
print(df.iloc[0:10])
print(df.iloc[0: 3])

0       Honda
1         BMW
2       Honda
3      Toyota
4      Nissan
        ...
995    Toyota
996       NaN
997    Nissan
998     Honda
999    Toyota
Name: Make, Length: 1000, dtype: object
     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0
5   Honda    Red        42652.0    4.0  23883.0
6  Toyota   Blue       163453.0    4.0   8473.0
7   Honda  White            NaN    4.0  20306.0
8     NaN  White       130538.0    4.0   9374.0
9   Honda   Blue        51029.0    4.0  26683.0
    Make Colour  Odometer (KM)  Doors    Price
0  Honda  White        35431.0    4.0  15323.0
1    BMW   Blue       192714.0    5.0  19943.0
2  Honda  White        84714.0    4.0  28343.0

In [58]:
## apply grouping: 

print(df.groupby(["Make", "Colour"]).sum())
print("\n--------------------------------------------")
print(df.groupby(['Make', "Colour"]).max())

               Odometer (KM)  Doors      Price
Make   Colour
BMW    Black       1181517.0   34.0   197648.0
       Blue        3246110.0  126.0   842685.0
       Green        780625.0   30.0   108772.0
       Red         1407034.0   60.0   240805.0
       White       4416711.0  150.0   964766.0
Honda  Black       4074681.0  108.0   379834.0
       Blue       11719412.0  332.0  1270961.0
       Green       2095923.0   72.0   311768.0
       Red         2875146.0   88.0   307502.0
       White      11834578.0  420.0  1524336.0
Nissan Black       2133007.0   52.0   166383.0
       Blue        6854291.0  188.0   757778.0
       Green       2383380.0   59.0   200153.0
       Red         1910325.0   60.0   213920.0
       White       9421461.0  288.0  1016157.0
Toyota Black       4634070.0  148.0   657389.0
       Blue       15969468.0  428.0  1640980.0
       Green       4557267.0  120.0   389841.0
       Red         4337663.0  116.0   455005.0
       White      17409390.0  564.0  2213696.0

--------------------------------------------
               Odometer (KM)  Doors    Price
Make   Colour
BMW    Black        204746.0    5.0  37518.0
       Blue         245427.0    5.0  47260.0
       Green        209340.0    5.0  29140.0
       Red          208124.0    5.0  38060.0
       White        242935.0    5.0  52458.0
Honda  Black        237861.0    4.0  30374.0
       Blue         248899.0    4.0  28422.0
       Green        238825.0    4.0  29681.0
       Red          238609.0    4.0  30854.0
       White        248301.0    4.0  29145.0
Nissan Black        248736.0    4.0  28354.0
       Blue         249860.0    4.0  31570.0
       Green        235589.0    4.0  29656.0
       Red          209976.0    4.0  21679.0
       White        246825.0    4.0  31633.0
Toyota Black        228063.0    4.0  35432.0
       Blue         248447.0    4.0  34286.0
       Green        243177.0    4.0  25133.0
       Red          248634.0    4.0  34465.0
       White        248815.0    4.0  35760.0

In [63]:
print(df[["Price"]].mode())
print(df.groupby(["Colour","Make"]).agg({"Price": ['sum', 'max'], "Doors": 'max'}))

      Price
0    3974.0
1    4566.0
2    7813.0
3    7994.0
4    8260.0
5   10429.0
6   11648.0
7   12392.0
8   12402.0
9   13560.0
10  15154.0
11  16519.0
12  17076.0
13  17520.0
14  18919.0
15  28414.0
                   Price          Doors
                     sum      max   max
Colour Make
Black  BMW      197648.0  37518.0   5.0
       Honda    379834.0  30374.0   4.0
       Nissan   166383.0  28354.0   4.0
       Toyota   657389.0  35432.0   4.0
Blue   BMW      842685.0  47260.0   5.0
       Honda   1270961.0  28422.0   4.0
       Nissan   757778.0  31570.0   4.0
       Toyota  1640980.0  34286.0   4.0
Green  BMW      108772.0  29140.0   5.0
       Honda    311768.0  29681.0   4.0
       Nissan   200153.0  29656.0   4.0
       Toyota   389841.0  25133.0   4.0
Red    BMW      240805.0  38060.0   5.0
       Honda    307502.0  30854.0   4.0
       Nissan   213920.0  21679.0   4.0
       Toyota   455005.0  34465.0   4.0
White  BMW      964766.0  52458.0   5.0
       Honda   1524336.0  29145.0   4.0
       Nissan  1016157.0  31633.0   4.0
       Toyota  2213696.0  35760.0   4.0

In [83]:
import pandas as pd
import numpy as np

df = pd.read_csv("Projects/PythonProjects/Try 1/car_sales - original.csv")
print(df.pivot_table(index =['Make'], columns = ['Colour'], values = ['Price'], aggfunc = 'sum'
                    ))
df.head()
df.describe()
print(df.info)

# check for null 
print(df.isnull().sum())
# drop null
df_clean = df.dropna()
print(df_clean)

           Price
Colour     Black       Blue     Green       Red      White
Make
BMW     197648.0   842685.0  108772.0  240805.0   964766.0
Honda   379834.0  1270961.0  311768.0  307502.0  1524336.0
Nissan  166383.0   757778.0  200153.0  213920.0  1016157.0
Toyota  657389.0  1640980.0  389841.0  455005.0  2213696.0
<bound method DataFrame.info of        Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]>
Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64
       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[773 rows x 5 columns]