In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn import metrics

In [6]:
#Loading data
# Preprocessing 
import pandas as pd
data = pd.read_csv('USA_Students.csv')
data

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [8]:
X = data['SAT']
Y = data['GPA']

In [14]:
print(X.shape,
        Y.shape)

(84,) (84,)

In [15]:
plt.scatter(X, Y)
plt.xlabel('SAT', fontsize = 20)
plt.ylabel('GPA', fontsize = 20)
plt.show()

cls = linear_model.LinearRegression()
X=np.expand_dims(X, axis=1) 
Y=np.expand_dims(Y, axis=1)

NameError: name 'plt' is not defined